.sidebar {
    transition: all 0.3s ease;
    width: 16rem;
    position: sticky;
}
.sidebar.w-20 {
    width: 5rem;
}
.sidebar.w-20 .sidebar-text {
    display: none;
}
.sidebar.w-20 .sidebar-tooltip {
    display: block !important;
}
.sidebar a, .sidebar button {
    position: relative;
}
.sidebar-tooltip {
    z-index: 20;
    opacity: 0;
    transition: opacity 0.3s;
}
.sidebar a:hover .sidebar-tooltip,
.sidebar button:hover .sidebar-tooltip {
    opacity: 1;
}
.accordion-content {
    overflow: hidden;
    transition: max-height 0.3s ease;
}
.accordion-arrow {
    transition: transform 0.3s ease;
}
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        position: absolute;
        z-index: 50;
        width: 320px;
        height: 640px;
    }
    .sidebar.open {
        transform: translateX(0);
    }
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 40;
    }
    .overlay.open {
        display: block;
    }
}